  services:
    elasticsearch:
      image: docker.elastic.co/elasticsearch/elasticsearch:8.12.2
      container_name: elasticsearch
      ports:
        - "9200:9200"
      volumes:
        - elasticdata:/usr/share/elasticsearch/data
      environment:
        - discovery.type=single-node
        - xpack.security.enabled=false
        - "ES_JAVA_OPTS=-Xms1024m -Xmx1024m"
      networks:
        - esnet